SoapCalisma/CustomerService/WebContent/wsdl/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ba.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ba.com" xmlns:intf="http://service.ba.com" xmlns:tns1="http://dto.ba.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ba.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.ba.com"/>
   <element name="getAllCustomer">
    <complexType/>
   </element>
   <element name="getAllCustomerResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCustomerReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomerResponse">
    <complexType>
     <sequence>
      <element name="addCustomerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomer">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerResponse">
    <complexType>
     <sequence>
      <element name="getCustomerReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.ba.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Customer">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerRequest">

      <wsdl:part element="impl:getCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerResponse">

      <wsdl:part element="impl:addCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerRequest">

      <wsdl:part element="impl:getAllCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerResponse">

      <wsdl:part element="impl:getCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerRequest">

      <wsdl:part element="impl:addCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerResponse">

      <wsdl:part element="impl:getAllCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomerService">

      <wsdl:operation name="getAllCustomer">

         <wsdl:input message="impl:getAllCustomerRequest" name="getAllCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCustomerResponse" name="getAllCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdl:input message="impl:addCustomerRequest" name="addCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCustomerResponse" name="addCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomer">

         <wsdl:input message="impl:getCustomerRequest" name="getCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerResponse" name="getCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerServiceSoapBinding" type="impl:CustomerService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerServiceService">

      <wsdl:port binding="impl:CustomerServiceSoapBinding" name="CustomerService">

         <wsdlsoap:address location="http://localhost:8080/CustomerSrv/services/CustomerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
